<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <!-- Add Tailwind CSS CDN link -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans">
    <div class="bg-blue-500 p-4 text-white">
        <h1 class="text-2xl font-semibold">Checkout</h1>
    </div>

    <div class="p-4">
        <% if (role === 'admin') { %>
            <a href="/products" class="text-blue-500 hover:underline">Back to Products</a>
        <% } else { %>
            <a href="/" class="text-blue-500 hover:underline">Home</a>
        <% } %>
    </div>
    
    <div class="container mx-auto p-4">
        <h1 class="text-red-600 text-2xl font-semibold">Thank you for your purchase, <%= username %></h1>
    </div>

    <div class="container mx-auto p-4">
        <h1 class="text-red-600 text-2xl font-semibold">Your order will be delivered to your address in 3-5 business days</h1>
    </div>

    <div class="container mx-auto p-4">
        <h1 class="text-red-600 text-2xl font-semibold">Your order details:</h1>
    </div>

    <div class="container mx-auto p-4">
        <table class="w-full border-collapse border border-gray-300">
            <thead>
                <tr>
                    <th class="p-2">Product Image</th>
                    <th class="p-2">Product Name</th>
                    <th class="p-2">Product Price</th>
                    <th class="p-2">Product Quantity</th>
                    <th class="p-2">Product Total</th>
                </tr>
            </thead>
            <tbody>
                <% product.forEach(product => { %>
                    <tr class="hover:bg-gray-100">
                        <td style="text-align: center;" class="p-2"><img  style="text-align: center;" src="<%= product.productImg %>" alt="Product Image" width="100px" height="100px"></td>
                        <td style="text-align: center;" class="p-2"><%= product.stock %></td>
                        <td style="text-align: center;" class="p-2"><%= product.name %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>